@import "src/styles/variables/breakpoints";
@import "src/styles/variables/colors";

.blogPost {
  overflow: hidden;

  &__content {
    $heading-levels: 6, 5, 4, 3, 2, 1;
    @media only screen and (min-width: $desktopScreen) {
      padding: 0 25%;
      @each $level in $heading-levels {
        h#{$level} {
          margin-top: 0.25em;
        }
      }
    }
    padding: 0 3rem;

    p {
      margin: 1rem 0;
    }
  }
}
