@import "src/styles/variables/breakpoints";
@import "src/styles/variables/typography";

.page {
  $headerZIndex: 1;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "content" "footer";

  header {
    grid-area: header;
    z-index: $headerZIndex;
    @media only screen and (min-width: $desktopScreen) {
      position: fixed;
      right: 3%;
    }
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin: 0 3% 3% 3%;
  }

  @media only screen and (min-width: $desktopScreen) {
    .parallax {
      $backgroundHeight: 60vh;
      $backgroundZIndex: 1;
      position: relative;

      &__background {
        position: fixed;
        transition: opacity 0.9s;
      }

      &__foreground {
        background: white;
        margin-top: $backgroundHeight;
        z-index: $backgroundZIndex + 1;
      }
    }
  }
}

.content {
  &__hero {
    align-self: center;
    display: grid;
    place-content: center;
    text-align: center;
    height: 40vh;
    @media only screen and (min-width: $desktopScreen) {
      height: 60vh;
    }
  }
}

.hero {
  &__title {
    margin-bottom: 0.65rem;
  }

  &__phrase {
    font-family: $cursive;
    font-weight: $normal;
  }
}
