@import "src/styles/variables/colors";
@import "src/styles/variables/typography";
@import "src/styles/variables/breakpoints";

.project {
  &__card {
    border: 2px solid $secondary;
    border-radius: 2rem;
    box-shadow: 5px 5px 0 $shadowGreen;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 80vw;
    @media only screen and (min-width: $tabletScreen) {
      width: 40vw;
    }
    @media only screen and (min-width: $desktopScreen) {
      padding: 2rem;
      border-width: 4px;
      box-shadow: 10px 10px 0 $shadowGreen;
      width: 25vw;
      max-height: 90vh;
    }
    @media only screen and (min-width: $tabletScreen) and (max-width: 1024px) {
      width: 40vw;
    }
  }
}

.card {
  &__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0;
    @media only screen and (min-width: $desktopScreen) {
      margin: 1rem 0;
    }
  }

  &__description {
    display: grid;
    height: 100%;
    overflow-y: auto;
  }
}

.detail {
  &__title {
    color: $secondary;
    overflow: auto;
    margin-top: 0.25em;
  }

  &__link {
    box-shadow: 5px 5px 0 $shadowBlue;
  }
}
