@import "variables/typography";
@import "variables/colors";
@import "variables/breakpoints";

%prevent-overflow {
  margin-top: 0;
  word-break: break-word;
  hyphens: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Loop Variables
$type-levels: 6, 5, 4, 3, 2, 1;
$cur-level-size: $type-base-size;
$md-cur-level-size: $type-base-size;
$lg-cur-level-size: $type-base-size;

@each $level in $type-levels {
  $cur-level-size: $cur-level-size * $type-ratio;
  $md-cur-level-size: $md-cur-level-size * $md-type-ratio;
  $lg-cur-level-size: $lg-cur-level-size * $lg-type-ratio;
  h#{$level} {
    @extend %prevent-overflow;
    font-family: $heading;
    font-size: $cur-level-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.25em;
    @media only screen and (min-width: $tabletScreen) {
      font-size: $md-cur-level-size;
    }
    @media only screen and (min-width: $desktopScreen) {
      font-size: $lg-cur-level-size;
    }
  }
}

html {
  font-size: 16px;
}

body,
body > * {
  font-family: $body;
  font-size: 1rem;
  font-weight: $normal;
  line-height: 1.5;
  @media only screen and (min-width: $desktopScreen) {
    font-size: 1.5rem;
  }
}

p,
li {
  @extend %prevent-overflow;
}

a.button {
  text-decoration: none;
}

button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;

  @media only screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }
}

a.button,
button.button {
  cursor: pointer;
  background-color: $btnColor;
  border-radius: 28px;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;

  &:hover,
  &:active {
    background-color: scale-color($btnColor, $lightness: -20%);
  }

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 6px scale-color($btnColor, $lightness: -40%);
  }

  &--small {
    font-size: 1.15rem;
  }

  &--block {
    width: 100%;
  }
}
