@import "src/styles/variables/colors";
@import "src/styles/variables/typography";
@import "src/styles/variables/breakpoints";

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";


  main {
    grid-area: main;
  }

  @media only screen and (min-width: $desktopScreen) {
    .parallax {
      $backgroundHeight: 60vh;
      $backgroundZIndex: 1;
      position: relative;

      &__background {
        position: fixed;
      }

      &__foreground {
        background: white;
        margin-top: $backgroundHeight;
        z-index: $backgroundZIndex + 1;
      }
    }

  }
}

.project {
  display: flex;
  flex-direction: column;
  margin: 0 3% 3% 3%;

  &__hero {
    align-self: center;
    display: grid;
    place-content: center;
    text-align: center;
    height: 40vh;
    @media only screen and (min-width: $desktopScreen) {
      height: 60vh;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > * {
      align-self: start;
      margin-bottom: 3rem;

      @media only screen and (min-width: $desktopScreen) {
        margin-bottom: 5rem;
      }
    }
  }
}

.hero {
  &__title {
    margin-bottom: 0.65rem;
  }

  &__phrase {
    font-family: $cursive;
    font-weight: $normal;
  }
}
