@import "src/styles/variables/breakpoints";

.project {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > * {
      align-self: start;
      margin-bottom: 3rem;

      @media only screen and (min-width: $desktopScreen) {
        margin-bottom: 5rem;
      }
    }
  }

  p {
    hyphens: auto;
  }
}
