@import "src/styles/variables/colors";
@import "src/styles/variables/typography";

.cta {
  background: linear-gradient(
    $primaryGradientAngle,
    $primary 0%,
    $secondary 100%
  );
  box-shadow: 5px 5px 0 $btnShadow;
  font-weight: $bold;

  &:hover {
    background: linear-gradient(
      $primaryGradientAngle,
      $secondary 0%,
      $primary 100%
    );
    box-shadow: 10px 10px 0 scale-color($btnShadow, $lightness: -20%);
  }

  &--disabled {
    background: lightgrey !important;
    box-shadow: none !important;
    color: #000 !important;
    cursor: not-allowed !important;

    &:hover {
      box-shadow: none !important;
    }
  }
}
