@import "src/styles/variables/breakpoints";
@import "src/styles/variables/colors";
@import "src/styles/variables/partials";

.blog {
  @extend %reduce-desktop-heading-size;

  &__description {
    @media only screen and (min-width: $desktopScreen) {
      padding: 0 25%;
    }
    padding: 0 3rem;
  }
}

.post {
  &:first-of-type {
    margin: 0;
  }

  margin: 3rem 0;

  &__title {
    margin: 0;
  }

  &__details {
    font-size: 1rem;
  }
}
