@import "src/styles/variables/breakpoints";
@import "src/styles/variables/typography";

header {
  display: grid;
  align-content: center;
  min-height: 10vh;

  @media only screen and (min-width: $desktopScreen) {
    position: fixed;
    right: 3%;
  }

  .head__nav {
    display: flex;
    justify-content: center;
    font-weight: $bold;
    @media only screen and (min-width: $desktopScreen) {
      justify-content: flex-end;
    }

    > * {
      text-decoration: none;
      color: #000;
      font-size: 1.25rem;
      @media only screen and (min-width: $desktopScreen) {
        font-size: 1.5rem;
      }

      &:hover {
        border-bottom: 3px solid lightgray;
      }
    }
  }
}
