@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Satisfy&family=Yanone+Kaffeesatz:wght@700&display=swap");

// Font Weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Font Families
$heading: "Yanone Kaffeesatz", sans-serif;
$body: "Lato", sans-serif;
$cursive: "Satisfy", cursive;


// Heading Typography
$type-base-size: 1rem;
$type-ratio: 1.5;
